@font-face {
	font-family: 'Slabo';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/slabo.eot');
	src: url('../fonts/slabo.eot?#iefix') format('embedded-opentype'),
	url('../fonts/slabo.woff') format('woff'),
	url('../fonts/slabo.ttf') format('truetype'),
	url('../fonts/slabo.svg#poetsen_oneregular') format('svg');
}

@font-face {
	font-family: 'Poetsen';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/PoetsenOne-Regular.eot');
	src: url('../fonts/PoetsenOne-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PoetsenOne-Regular.woff') format('woff'),
	url('../fonts/PoetsenOne-Regular.ttf') format('truetype'),
	url('../fonts/PoetsenOne-Regular.svg#poetsen_oneregular') format('svg');
}