.form-container{
  /*display: block;*/
  width: 100%;
  height: 100%;
}
.step-container{
  width: 100%;
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px 40px;
  margin: 20px 0;
}
.choice{
  width: 100px;
  height: 100px;
  margin: 5px;
}
.three-choice{
  width: 60px;
  height: 60px;
}

.step-action{
  margin-top: 30px;
}
  .european{
    background-color: #E8CDA8;
  }
  .asian{
    background-color: #ffe39f ;
  }
  .indian{
    background-color: #935D37;
  }
  .african{
    background-color: #573719;
  }
  .blond{
    background-color: #F2DA91;
  }
  .brown{
    background-color: #800000;
  }
  .black{
    background-color: #000;
  }

