<form name="addPerson" method="post" action="upload.html" enctype="multipart/form-data">
        Enter your First name please : <input type="text" name="firstName"/> <br/>
        Enter your Last name please : <input type="text" name="lastName"/> <br/>
        Enter your sex please : <select name="sex">
    		<option value="Male" selected>Male</option>
    		<option value="Female">Female</option>
    	</select><br/>
    	Please choose a photo <input type="file" name="photo"><br/>
        <input type="submit" name="valider" value="OK"/>
    </form>